.button {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $color-default-blue;
  background-color: transparent;
  text-align: center;
  border: 1px solid $color-default-blue;
  border-radius: 30px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 3px 3px 30px;
  width: fit-content;
  gap: 30px;
  transition: background-color $trans-default;
  cursor: pointer;

  & .button__mark {
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-default-blue;
    color: $color-default-white;

    @include vp-767 {
      width: 34px;
      height: 34px;
    }
  }

  @include hover-focus {
    outline: none;
    background-color: $color-default-blue;
    color: $color-default-white;

    .button__mark {
      background-color: $color-default-white;
      color: $color-default-blue;

      & svg {
        transform: rotate(45deg);
      }
    }

    @include active {
      background-color: $color-default-blue;
      color: rgba($color-default-white, 0.7);

      .button__mark {
        background-color: $color-default-white;
        color: rgba($color-default-blue, 0.7);
      }
    }
  }

  @include vp-767 {
    font-size: 12px;
    padding: 3px 3px 3px 20px;
    gap: 20px;
  }

  &--no-text {
    padding: 0;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    align-self: center;

    .button__mark {
      width: 30px;
      height: 30px;
    }

    @include hover-focus {
      outline: none;
      background-color: transparent;

      .button__mark {
        background-color: $color-default-white;
        color: $color-default-blue;

        & svg {
          transform: rotate(45deg);
        }
      }

      @include active {
        background-color: transparent;

        .button__mark {
          background-color: $color-default-white;
          color: rgba($color-default-blue, 0.7);
        }
      }
    }
  }

  &--form {
    color: $color-default-white;
    border: 1px solid $color-default-white;

    & .button__mark {
      background-color: $color-default-white;
      color: $color-default-blue;
    }

    @include hover-focus {
      background-color: $color-default-white;
      color: $color-default-blue;

      .button__mark {
        background-color: $color-default-blue;
        color: $color-default-white;

        & svg {
          transform: rotate(45deg);
        }
      }

      @include active {
        background-color: $color-default-white;
        color: rgba($color-default-blue, 0.7);

        .button__mark {
          background-color: $color-default-blue;
          color: rgba($color-default-white, 0.7);
        }
      }
    }
  }

  &:disabled {
    border-color: $color-disable-gray;
    color: $color-disable-gray;
    background-color: transparent;

    .button__mark {
      background-color: $color-disable-gray;
      color: $color-default-white;
    }
  }
}
