.conditions {
  padding: 120px calc(50% - 620px) 108px;
  display: grid;
  grid-template-columns: 498px 1fr;
  gap: 138px;
  background-color: $color-default-blue;
  color: $color-default-white;

  @include vp-1319 {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include vp-1199 {
    padding: 98px 45px 100px;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  @include vp-767 {
    padding: 67px 15px;
    gap: 30px;
  }

  & .conditions__title,
  & .conditions__subtitle {
    color: $color-default-white;
  }
}

.conditions__title {
  padding: 4px 0;

  @include vp-1199 {
    padding: 0 0 4px;
  }

  @include vp-767 {
    padding: 2px 0 6px;
  }
}

.conditions__subtitle {
  padding: 8px 0;
  width: 75%;

  @include vp-1199 {
    padding: 6px 0 13px;
    width: 100%;
  }
}

.conditions__column {
  align-self: flex-start;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @include vp-767 {
    gap: 8px;
  }

  & p {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    line-height: 26px;

    @include vp-1199 {
      line-height: 20px;
      width: 73.45%;
    }

    @include vp-767 {
      width: 100%;
      padding-bottom: 15px;
      font-size: 14px;
    }
  }
}

.conditions__list {
  margin: 0;
  padding: 0;
  margin-right: 106px;
  padding-top: 22px;
  list-style: none;
  counter-reset: item;
  display: grid;
  grid-template-columns: 1fr;
  gap: 22px;

  @include vp-1199 {
    margin: 0;
    padding-top: 5px;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 26px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
}

.conditions__item {
  margin-left: 20px;
  padding: 22px 25px 23px;
  counter-increment: item;
  position: relative;
  border-radius: 16px;
  border: 1px solid $color-default-beige;
  line-height: 26px;

  &::before {
    content: counter(item);
    position: absolute;
    top: -15px;
    left: -20px;
    width: 42px;
    height: 42px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: $color-default-blue;

    @include vp-767 {
      top: -6px;
      left: -13px;
      width: 26px;
      height: 32px;
      font-size: 18px;
    }
  }

  @include vp-1199 {
    padding: 25px;
    line-height: 20px;
  }

  @include vp-767 {
    margin-left: 15px;
    padding: 18px 24px;
    font-size: 14px;
  }
}

.conditions__photo {
  width: 100%;
  height: 363px;
  border-radius: 16px;
  overflow: hidden;

  & img {
    width: 100%;
    height: auto;
  }

  @include vp-1199 {
    height: 375px;
  }

  @include vp-767 {
    height: 200px;
  }
}
