.custom-toggle {
  padding-top: 4px;
  position: relative;
  display: flex;
  width: 100%;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);

    @include hover-focus {
      & + .custom-toggle__icon {
        outline: none;
        border: 1px solid $color-default-blue;
      }
    }
  }

  label {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px;
    cursor: pointer;

    .custom-toggle__label {
      font-size: 12px;
      line-height: 14px;
      opacity: 0.9;
      margin-bottom: 0;
      margin-left: 0;
      align-self: center;
    }
  }

  &--checkbox {
    .custom-toggle__icon {
      width: 20px;
      height: 20px;
      border-radius: 2px;
      border: 1px solid rgba($color-default-black, 0.7);
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color $trans-default;

      & svg {
        display: none;
      }

      @include vp-767 {
        align-self: center;
      }
    }

    input:checked + .custom-toggle__icon {
      background-color: $color-default-blue;
      border: 1px solid $color-default-blue;

      & svg {
        display: block;
        color: $color-default-white;
      }
    }
  }

  &.is-invalid {
    label {
      .custom-toggle__icon {
        border: 1px solid $color-error-red;
        background: rgba($color-error-red, 0.2);
      }
    }
  }

  input:checked:hover {
    .custom-toggle__icon {
      outline: none;
      color: $color-default-blue;
      background-color: transparent;
    }
  }

  &--dark {
    .custom-toggle__icon {
      border: 1px solid rgba($color-default-white, 0.7);
    }

    @include hover-focus {
      & input + .custom-toggle__icon {
        outline: none;
        border: 1px solid $color-default-white;
      }
    }

    input:checked + .custom-toggle__icon {
      background-color: $color-default-white;
      border: 1px solid $color-default-white;

      & svg {
        display: block;
        color: $color-default-blue;
      }
    }

    @include hover-focus {
      input:checked + .custom-toggle__icon {
        outline: none;
        background-color: transparent;

        & svg {
          color: $color-default-white;
        }
      }
    }
  }

  &:disabled {
    background-color: $color-disable-gray;
    border: 1px solid $color-disable-gray;
    color: $color-default-white;
  }

  @include vp-767 {
    padding-top: 2px;
  }
}
