.custom-toggle {
  position: relative;
  display: flex;
  width: 100%;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
  }

  label {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px;
    cursor: pointer;

    .custom-toggle__label {
      font-size: 12px;
      opacity: 0.9;
      margin-bottom: 0;
      margin-left: 0;
      align-self: center;
    }
  }

  &--checkbox {
    .custom-toggle__icon {
      width: 20px;
      height: 20px;
      border-radius: 2px;
      border: 1px solid rgba($color-default-black, 0.7);
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color $trans-default;

      & svg {
        display: none;
      }
    }

    input:checked + .custom-toggle__icon  {
      background-color: $color-default-blue;
      border: 1px solid $color-default-blue;

      & svg {
        display: block;
        color: $color-default-white;
      }
    }
  }

  &.is-invalid {
    label {
      .custom-toggle__icon {
        border: 1px solid $color-error-red;
      }
    }
  }

  @include hover-focus {
    & .custom-toggle__icon {
      outline: none;
      border: 1px solid $color-default-blue;
    }
  }

  input:checked:hover {
    .custom-toggle__icon {
      outline: none;
      color: $color-default-blue;
      background-color: transparent;
    }
  }
}
