.custom-input,
.custom-textarea {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  label {
    font-size: 14px;
    line-height: 18px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    width: 100%;

    @include vp-1199 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
      align-items: flex-start;
      flex-direction: column;
    }
  }

  input,
  textarea {
    flex-grow: 1;
    width: 100%;
    min-height: 50px;
    border-radius: 8px;
    padding: 0 5px;
    border: 1px solid rgba($color-default-black, 0.3);
    outline: none;
    transition: border 0.3s ease;

    @include hover-focus {
      border: 1px solid $color-default-black;
    }

    &:disabled {
      border: 1px solid rgba(169, 175, 183, 0.5);
      background: rgba(169, 175, 183, 0.2);
    }
  }

  textarea {
    min-height: 98px;

    @include vp-767 {
      min-height: 94px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid $color-error-red;
      background: rgba($color-error-red, 0.2);

      &:focus,
      &:hover {
        border: 1px solid rgba($color-error-red, 0.5);
      }
    }
  }

  @include vp-767 {
    gap: 11px;
  }
}

.custom-input--dark,
.custom-textarea--dark {
  input,
  textarea {
    border: 1px solid rgba($color-default-white, 0.3);
    background: transparent;

    @include hover-focus {
      border: 1px solid $color-default-white;
    }
  }
}
