.faq {
  padding: 0 calc(50% - 514px);
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  background-color: $color-default-beige;

  @include vp-1319 {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include vp-1199 {
    padding: 0 45px;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  @include vp-767 {
    padding: 0 15px;
    gap: 33px;
  }
}

.faq__title {
  padding: 5px 0 6px;
  text-align: center;

  @include vp-1199 {
    padding: 0;
  }
}

.faq__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.faq__element {
  padding: 34px 39px 30px;
  border-radius: 14px;
  border: 1px solid $color-default-blue;
  color: $color-default-blue;
  transition: background-color $trans-default;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include hover-focus {
    background-color: $color-default-white;

    & .faq__mark {
      background-color: $color-default-white;

      &::before,
      &::after {
        background-color: $color-default-blue;
      }
    }

    @include active {
      .faq__button {
        color: $color-active-navy;
      }

      .faq__mark {
        background-color: $color-active-navy;
        border-color: $color-active-navy;

        &::before,
        &::after {
          background-color: $color-default-white;
        }
      }
    }
  }

  &.is-active {
    background-color: $color-default-blue;
    color: $color-default-white;
    padding-bottom: 38px;

    & .faq__button {
      color: $color-default-white;

      @include vp-1199 {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      @include vp-767 {
        padding-top: 2px;
        padding-bottom: 14px;
      }
    }

    & .faq__mark {
      background-color: $color-default-white;

      &::before {
        background-color: $color-default-blue;
      }

      &::after {
        display: none;
      }
    }

    @include hover-focus {
      background-color: $color-default-blue;

      & .faq__mark {
        background-color: transparent;
        border: 1px solid $color-default-white;

        &::before {
          background-color: $color-default-white;
        }
      }

      @include active {
        background-color: $color-active-navy;

        & .faq__mark {
          background-color: $color-default-white;
          border: 1px solid $color-default-blue;

          &::before {
            background-color: $color-default-blue;
          }
        }
      }
    }

    @include vp-1199 {
      padding-bottom: 26px;
    }

    @include vp-767 {
      padding-bottom: 14px;
    }
  }

  @include vp-1199 {
    padding: 25px 29px 23px;
    min-height: 100px;
  }

  @include vp-767 {
    padding: 18px 15px 19px;
    min-height: 80px;
  }
}

.faq__button {
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
  background-color: transparent;
  color: $color-default-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color $trans-default;

  & span:not(.faq__mark) {
    font-size: 28px;
    line-height: 34px;
    max-width: 73%;
    text-align: start;

    @include vp-1199 {
      font-size: 22px;
      line-height: 26px;
      max-width: 83%;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
      max-width: 82%;
    }
  }
}

.faq__mark {
  margin-top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $color-default-blue;
  background-color: $color-default-blue;
  position: relative;
  transition: background-color $trans-default;
  align-self: flex-start;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $color-default-white;
  }

  &::before {
    width: 18px;
    height: 1px;
    top: calc(50% + 0.5px);
    left: 11px;
  }

  &::after {
    width: 1px;
    height: 18px;
    left: calc(50% - 0.5px);
    top: 11px;
  }

  @include vp-1199 {
    margin: 0;
  }

  @include vp-767 {
    align-self: center;
  }
}

.faq__text p {
  margin: 0;
  padding: 0;
  padding-top: 12px;
  margin-bottom: -5px;
  font-size: 16px;
  line-height: 26px;
  max-width: 73%;
  color: $color-default-beige;

  @include vp-1199 {
    padding-top: 10px;
    margin-bottom: 0;
    line-height: 20px;
    max-width: 90%;
  }

  @include vp-767 {
    padding-top: 0;
    font-size: 14px;
    max-width: 100%;
  }
}
