.form {
  padding: 120px calc(50% - 620px) 0;
  display: flex;
  background-color: $color-default-beige;

  @include vp-1319 {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include vp-1199 {
    padding: 100px 45px 0;
    gap: 30px;
  }

  @include vp-767 {
    padding: 67px 15px 0;
    gap: 30px;
  }
}

.form__container {
  width: 100%;
  position: relative;
  display: flex;
  // border-radius: 16px;
  z-index: 1;
}

.form__inner {
  padding: 70px 74px 50px;
  border-radius: 16px;
  background-color: $color-default-blue;
  display: flex;
  flex-direction: column;
  width: 40.16%;
  gap: 16px;

  & p {
    color: $color-default-white;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;

    @include vp-1199 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 14px;
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 4px;
    gap: 16px;

    @include vp-1199 {
      padding-top: 20px;
    }

    @include vp-767 {
      padding-top: 10px;
    }
  }

  & form label {
    color: $color-default-white;
  }

  @include vp-1199 {
    padding: 50px 45px;
    width: 65.2%;
  }

  @include vp-767 {
    padding: 50px 15px;
    width: 100%;
  }
}

.form__title {
  color: $color-default-white;
  padding: 10px 0;

  @include vp-1199 {
    padding: 8px 0;
  }

  @include vp-767 {
    padding: 6px 0px;
  }
}

.form__button {
  margin-top: 24px;
  width: 100%;

  & span:not(.button__mark) {
    width: calc(100% - 76px);
  }
}

.form__photo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  border-radius: 16px;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include vp-767 {
    display: none;
  }
}
