.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: $color-overlay-dark;
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;
  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.modal__wrapper {
  padding-top: 90px;
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 100%;

  @include vp-1199 {
    padding-top: calc((100vh - 602px) / 2 - 7px);
    padding-left: 16.9%;
    padding-right: 16.8%;
  }

  @include vp-767 {
    padding: 23px 15px;
  }
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modal__content {
  position: relative;
  width: 510px;
  padding: 52px 80px 60px;
  border-radius: 16px;
  background-color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  @include vp-1199 {
    padding-top: 56px;
    width: 100%;
    gap: 12px;
  }

  @include vp-767 {
    padding: 35px 15px 40px;
    gap: 5px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
  width: 22px;
  height: 22px;
  padding: 0;
  background: $color-transparent;
  border: none;
  cursor: pointer;

  @include hover-focus {
    outline: none;
    opacity: 0.5;

    @include active {
      opacity: 0.75;
    }
  }

  @include active {
    opacity: 0.75;
  }

  @include vp-767 {
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.modal__form {
  width: 100%;

  .modal__custom-select {
    gap: 8px;
  }
}


.modal__form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  gap: 17px;

  @include vp-1199 {
    gap: 15px;
    padding-top: 9px;
  }

  @include vp-767 {
    padding-top: 15px;

    .custom-select__label,
    label {
      font-size: 14px;
    }

    .modal__custom-select,
    .modal__custom-input {
      gap: 8px;
    }

    input,
    .modal__custom-select-button {
      min-height: 44px;
    }
  }
}

.modal__button {
  margin-top: 10px;

  @include vp-1199 {
    margin-top: 16px;
  }

  @include vp-767 {
    margin-top: 9px;
    width: 100%;

    span:not(.button__mark) {
      width: 77%;
      text-align: center;
    }
  }
}

.modal__description {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 26px;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    width: 77.5%;
    font-size: 14px;
  }
}
