.nav {
  padding: 0;
  margin: 0;
  align-self: flex-end;
  background-color: transparent;
  transition: background-color $trans-default;

  &.is-active {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 2;

    .nav__inner {
      max-height: calc(100vh - 104px);

      @include vp-767 {
        max-height: calc(100vh - 94px);
      }
    }

    & .nav__list {
      margin: 33px 25px;
      list-style: none;
      gap: 24px;
      overflow-y: scroll;
      scrollbar-width: none;
      // height: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        height: 100%;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.nav__wrapper {
  width: fit-content;
  position: fixed;
  right: calc(50% - 620px);
  top: 88px;

  @include vp-1319 {
    right: 40px;
  }

  @include vp-1199 {
    right: 45px;
  }

  @include vp-767 {
    width: calc(100% - 30px);
    top: 78px;
    right: 15px;
  }
}

.nav__inner {
  max-height: 0;
  width: 286px;
  background-color: $color-default-blue;
  border-radius: 16px;
  display: flex;
  transition: max-height $trans-600;

  @include vp-767 {
    width: 100%;
  }
}

.nav__list,
.nav__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.nav__list {
  width: 100%;
  // height: 0;
  // transition: height $trans-600;

  li {
    height: 0;
    visibility: hidden;
    opacity: 0;
    max-height: inherit;
    transition: height $trans-600;
  }

  & > .nav__item > .nav__link {
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }
}

.nav__sublist {
  padding-left: 16px;
  padding-top: 15px;
  gap: 12px;
}

.nav__link,
.nav__submenu {
  color: $color-default-white;
  opacity: 0.7;
  height: inherit;
  transition: height $trans-600;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;

  @include hover-focus {
    outline: none;
    opacity: 1;
  }
}

.nav__submenu {
  margin: 0;
  padding: 0;
  height: fit-content;
  border: none;
  background-color: transparent;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  line-height: 100%;
  padding-right: 22px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    right: 0;
    width: 12px;
    height: 12px;
    background-image: url("../img/svg/submenu-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    transition: transform $trans-default;
  }
}

.nav__item.is-active {
  & > .nav__submenu {
    font-weight: 500;
    opacity: 1;

    &::after {
      opacity: 1;
      transform: rotate(180deg);
    }
  }
}
