.nav {
  display: none;
  padding: 0;
  margin: 0;

  &--is-active {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0;
    z-index: 2;

    & .nav__list {
      position: fixed;
      right: calc(50% - 620px);
      top: 88px;
      width: 286px;

      @include vp-1199 {
        right: 65px;
      }

      @include vp-767 {
        right: 16px;
        width: 290px;
      }
    }
  }
}

.nav__list,
.nav__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.nav__list {
  padding: 35px 25px;
  list-style: none;
  justify-self: flex-end;
  gap: 28px;
  background-color: $color-default-blue;
  border-radius: 16px;

  & > .nav__item > .nav__link {
    text-transform: uppercase;
  }
}

.nav__sublist {
  padding-left: 16px;
  padding-top: 20px;
  gap: 16px;
}

.nav__link {
  color: $color-default-white;
}

.nav__link[data-accordion="button"] {
  position: relative;
  padding-right: 22px;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 12px;
    height: 12px;
    background-image: url("../img/svg/submenu-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    transition: transform $trans-default;
  }
}

.nav__item.is-active {
  & > .nav__link {
    font-weight: 500;

    &::after {
      opacity: 1;
      transform: rotate(180deg);
    }
  }
}
