.news-slide {
  position: relative;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  justify-content: flex-end;
  max-width: 286px;
  display: none;

  &[data-first-slide = true] {
    min-width: 604px;

    & .news-slide__title {
      padding: 18px 18px 6px 0;
      width: 48.2%;
    }

    & .news-slide__inner {
      width: 64.4%;
    }
  }

  &--is-open {
    display: flex;
  }

  @include vp-1199 {
    max-width: calc((100% - 30px) / 2);
    height: calc((100% - 196px) / 2);
    // max-width: unset;
    // &:first-of-type {
    //   width: calc((100% - 30px) / 2);
    // }
  }

  @include vp-767 {
    width: 100%;
    height: 42%;

    &[data-first-slide = true] {
      height: 58%;
    }
  }
}

.news-slide__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
  }
}

.news-slide__wrapper {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include vp-1199 {
    min-height: unset;
  }
}

.news-slide__date {
  padding: 12px 12px 6px 0;
  width: fit-content;
  background: var(--Beige, #F0EFE9);;
  border-radius: 0 12px 0 0;
  background-color: $color-default-beige;
  color: $color-default-blue;
  font-size: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  position: relative;

  &::before,
  &::after {
    @include beige-angle;
  }

  &::before {
    top: -16px;
    left: 0;
  }
}

.news-slide__title {
  padding: 10px 10px 4px 0;
  width: 75%;
  background-color: $color-default-beige;
  border-radius: 0 12px 0 0;
  font-size: 24px;
  line-height: 26px;
  position: relative;

  &::after {
    @include beige-angle;
  }
}

.news-slide__inner {
  padding: 12px 18px 15px 0;
  width: 83.92%;
  background-color: $color-default-beige;
  border-radius: 0px 12px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  position: relative;

  &::after {
    @include beige-angle;
  }

  & p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }
}
