.news {
  padding: 120px calc(50% - 620px);
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  background-color: $color-default-beige;

  @include vp-1319 {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include vp-1199 {
    padding: 100px 45px;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  @include vp-767 {
    padding: 67px 15px;
    gap: 30px;
  }
}

.news__title {
  text-align: center;
  padding: 12px 0;

  @include vp-1199 {
    padding: 13px 0;
  }

  @include vp-767 {
    padding: 5px 0 6px;
  }
}

.news__tubs {
  margin: 0 auto;
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  @include vp-1199 {
  }

  @include vp-767 {
  }
}

.news__tub {
  padding: 14px 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  color: rgba($color-default-blue, 0.6);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  cursor: pointer;

  @include hover-focus {
    outline: none;
    color: $color-default-blue;

    @include active {
      color: $color-default-blue;
      border: 1px solid $color-default-blue;
    }
  }

  &--is-active {
    color: $color-default-blue;
    border: 1px solid $color-default-blue;
  }

  @include vp-1199 {
  }

  @include vp-767 {
    font-size: 12px;
  }
}

.news__swiper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 72px;

  & .news__pagination {

    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    bottom: 0;

    & .swiper-pagination-bullet {
      width: 32px;
      height: 32px;
      font-size: 16px;
      opacity: 0.5;
      color: $color-default-blue;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;

      &-active {
        background-color: $color-default-blue;
        border-radius: 50%;
        color: $color-default-white;
        opacity: 1;

      }

    }
  }

  & .news__button--prev {
    right: auto;
    left: 0;
  }
}

.news__wrapper {
  height: auto;

}
