.programs-slide {
  position: relative;
  width: 32%;
  height: auto;
  border-radius: 12px;
  overflow: hidden;

  @include vp-1199 {
    width: 324px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.programs-slide__name {
  position: relative;
  margin: 0;
  padding: 14px 18px 4px;
  width: 55%;
  border-radius: 12px 12px 0px 0px;
  background-color: $color-default-white;
  color: $color-default-blue;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  &::after {
    @include white-angle;
    width: 18px;
    height: 18px;
    bottom: -2px;
    right: -16px;
  }

  @include vp-1279 {
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 3px;
  }

  @include vp-1199 {
    width: 61.4%;
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
    width: 54%;
    padding-bottom: 7px;
    padding-top: 18px;
  }
}

.programs-slide__container {
  padding: 71.42% 20px 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  @include vp-1199 {
    padding-top: 285px;
  }

  @include vp-767 {
    padding: 271px 10px 18px;
  }
}

.programs-slide__inner {
  padding: 12px 18px 15px;
  margin-top: -1px;
  width: 91.19%;
  min-height: 80px;
  display: flex;
  align-items: center;
  border-radius: 0px 12px 12px 12px;
  background-color: $color-default-white;
  gap: 16px;
  font-size: 14px;
  line-height: 18px;

  & p {
    margin: 0;
    padding: 0;
  }

  @include vp-1199 {
    line-height: 20px;
    width: 93%;
    padding: 4px 18px 8px;
    min-height: 77px;
  }

  @include vp-767 {
    padding-top: 13px;
    padding-bottom: 14px;
    font-size: 12px;
    line-height: 14px;
    width: 100%;
    min-height: unset;
  }

}

.programs-slide__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-overlay-light;
  }
}
