.programs {
  padding: 0 calc(50% - 620px);
  padding-bottom: 120px;
  display: grid;
  background-color: $color-default-beige;

  @include vp-1319 {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include vp-1199 {
    padding: 0 0 100px 45px;
  }

  @include vp-767 {
    padding: 0 15px 67px;
  }
}

.programs__title {
  padding-top: 4px;

  @include vp-1199 {
    padding: 0;
  }
}

.programs__button {
  @include vp-1199 {
    margin-right: 45px;
  }

  @include vp-767 {
    padding-left: 30px;
    gap: 30px;
    margin-right: 0;
    order: 1;
  }
}

.programs__swiper {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & .programs__pagination {
    width: 91.45%;
    height: 2px;
    top: auto;
    bottom: 12px;
    background: rgba($color-default-blue, 0.2);

    & span {
      background: $color-default-blue;
    }

    @include vp-1199 {
      width: 82.6%;
    }

    @include vp-767 {
      display: none;
    }
  }

  @include vp-1199 {
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.programs__wrapper {
  padding-top: 45px;
  height: auto;
  padding-bottom: 60px;

  @include vp-1199 {
    padding-top: 40px;
    padding-bottom: 62px;
  }

  @include vp-767 {
    padding-top: 32px;
    padding-bottom: 30px;
  }
}
