.reviews {
  padding: 120px calc(50% - 620px);
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  background-color: $color-default-beige;


  @include vp-1319 {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include vp-1199 {
    padding: 98px 0 100px 45px;
  }

  @include vp-767 {
    padding: 67px 15px;
    gap: 30px;
  }
}

.reviews__title {
  padding: 4px 3px 6px;

  @include vp-1199 {
    padding: 0;
  }

  @include vp-767 {
    padding: 6px 0 5px;
  }
}

.reviews__swiper {
  width: 100%;
  height: auto;
  position: relative;

  & .reviews__pagination {
    width: 91.45%;
    height: 2px;
    top: auto;
    bottom: 12px;
    background: rgba($color-default-blue, 0.2);

    & span {
      background: $color-default-blue;
    }

    @include vp-1199 {
      width: 77.6%;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.reviews__wrapper {
  padding: 40px 0 62px;
  height: auto;
  display: flex;

  @include vp-767 {
    padding: 25px 0 0;
  }
}

.reviews__button {
  &--next {
    @include vp-1199 {
      right: 45px;
    }

    @include vp-767 {
      right: 0;
    }
  }

  &--prev {
    @include vp-1199 {
      right: calc(45px + 32px);
    }

    @include vp-767 {
      right: 30px;
    }
  }

  @include vp-767 {
    top: 25px;
  }
}
