.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  color: $color-default-white;
  background-color: $color-default-blue;
  border-radius: 50%;
  // transition: background-color $trans-default;

  & svg {
    width: 16px;
    height: 16px;
  }

  @include hover-focus {
    outline: none;
    color: rgba($color-default-white, 0.7);

    @include active {
      color: $color-default-white;
      background-color: $color-active-navy;
    }
  }

  @include vp-767 {
    width: 26px;
    height: 26px;

    & svg {
      width: 11.6px;
      height: 11.6px;
    }
  }
}
