.title {
  padding: 0;
  margin: 0;
  color: $color-default-blue;
  font-weight: 400;

  &--large {
    font-size: 54px;
    line-height: 62px;

    @include vp-1199 {
      font-size: 36px;
      line-height: 44px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 26px;
    }
  }

  &--medium {
    font-size: 50px;
    line-height: 50px;

    @include vp-1199 {
      font-size: 34px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &--small {
    font-size: 32px;
    line-height: 36px;

    @include vp-1199 {
      font-size: 28px;
      line-height: 28px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
