@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/manrope-regular.woff2") format("woff2"),
    url("../fonts/manrope-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/manrope-medium.woff2") format("woff2"),
    url("../fonts/manrope-medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/manrope-light.woff2") format("woff2"),
    url("../fonts/manrope-light.woff") format("woff");
}
